{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
      }
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/camelcase": "error",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/class-name-casing": "error",
    "@typescript-eslint/adjacent-overload-signatures": "error",
    "linebreak-style": "warn",
    "indent": "off",
    "function-paren-newline": ["error", "consistent"],
    "no-console": ["error", { "allow": [ "warn", "error" ] }]
  }
}